<div class="form-inline nested-fields">
  <%= f.text_field :title, placeholder: "Enter an answer choice", class: 'option', label_class: 'hidden' %>
  <%= link_to_remove_association 'Remove', f, class:"btn btn-danger btn-xs"%>
</div>
