<script>
  var question_id = "<%= j @question.id.to_s %>";
</script>

<div class="screen">
  <div class="row">
    <div class="col-md-12">
      <%= render 'questions/partials/sections' %>
    </div>
  </div>

</div><!-- end screen -->
