<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Kind</th>
      <th>Date</th>
      <th class="text-center">Engagement Rate (%)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'topics/partials/question' %>
  </tbody>
</table>
