<div class="page-header">
  <h1>Editing Topic</h1>
</div>

<%= render 'topics/partials/form' %>
<hr>
<%= link_to 'Show', @topic, class: 'btn btn-success btn-xs' %>
<%= link_to 'Back', topics_path, class: 'btn btn-default btn-xs' %>
