<div class="tab-content">
  <div class="tab-pane active" id="tab-questions">
    <%= render 'answerBox' %>
  </div>
  <div class="tab-pane" id="tab-replies">
    <div class="row">
      <div class="container">
        <div id="cloud"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="tab-stats">
    <div class="row">
      <div class="container">
        <div id="chart"></div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="tab-pie">
    <div class="row">
      <div class="container">
        <div id="pie"></div>
      </div>
    </div>
  </div>
</div>
